@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: rgb(252, 223, 253);
}
.title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}
.title h2 {
  color: rgb(88, 81, 88);
  text-align: center;
}
.section-center {
  max-width: 620px;
  width: 90vw;
  margin: 0 auto;
}
.question {
  background: white;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: rgb(88, 81, 88);
  transition: all 0.3s linear;
  outline: none;
}
.question-btn:hover {
  transform: scale(1.3);
}
.question-text {
  transition: all 0.3s linear;
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}
