@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.menu-btn {
  position: fixed;
  top: 2rem;
  right: .70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  width: 40px;
  height: 6px;
  background: rgb(204, 81, 81);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(247, 238, 234, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background: rgb(204, 81, 81);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(247, 238, 234, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo {
  justify-self: center;
  height: 40px;
}
.links a {
  color: black;
  font-size: 1.5rem;
  text-transform: capitalize;
  display: block;
  padding: 1rem 1.5rem;
  transition: all 0.3s linear;
  text-decoration: none;
  text-align: center;
}
.links a:hover {
  background: transparent;
  color: rgb(204, 81, 81);
  transform: scale(1.3);
  padding-left: 1.5rem;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: rgb(248, 246, 246);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 2rem;
  transition: all 0.3s linear;
  transform: translate(-100%);
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
